body{
  background: #f1ebeb;
background-image: url("bg.jpg");

}

.containers{

  width: 700px;
 margin: auto;

}

#chatWindow{
  align-items : middle;
  height: 300px;
  width: 370px;
  overflow: scroll;

}

#mainWrapper{
  display:none;
}

#chatWrapper, #userWrapper, #namesWrapper{
  float: left;
  border: 1px solid rgb(158, 126, 126);
  border-radius: 10px;
  background: #f4f4f4;
  padding: 10px;
  color: darkcyan;
}

#userWrapper{
  margin-left: 20px;
  width: 150px;
  max-height: 200px;
}


#namesWrapper{
  float: left;
  margin-left:20px;
  color: cadetblue;
}

input{
  height: 30px;
}

#error{
  color: red;
}
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 80;
width: 100%;
  color: white;
  text-align: center;
}
/*.header{
 
  position: fixed ;
  top: 0;
  width: 100%;
  
} */